.header {
  display: table;
  width: 100%;
  background-color: #1fdf64;
  padding: 5px 10px 5px 10px;
  margin: 0;
}

.header div {
  display: table-row;
}

.header div div {
  display: table-cell;
  width: auto;
}

.header .icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
}

.header .title {
  width: 100%;
  padding: 0 20px 0 20px;
  vertical-align: middle;
  display: inline-block;
}

.header button {
  width: 100px;
  vertical-align: middle;
  display: inline-block;
}

.modal {
  width: 90%;
  height: 90%;
  margin: 2% 5% 5% 5%;
  border-width: 1px;
  border-color: black;
  padding: 20px;
  border-radius: 20px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.modal_header {
  width: 100%;
  display: table;
  padding-bottom: 10px;
}

.modal_header div {
  display: table-cell;
  width: auto;
}

.modal_header h1 {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.modal_header button {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
}
