.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  text-align: left;
}

.table td {
  padding: 5px;
}

.table th {
  padding: 5px;
}

table .absorbing_column {
  width: 100%;
}

table .cover_column {
  width: 120px;
}

.index {
  text-align: center;
  font-size: 1.5em;
}

.cover {
  width: 120px;
  height: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  color: black;
}

.artist {
  color: #777777;
}

.duration {
  width: 150px;
}
